/*ask tutor about this*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  display: block;
  color: black;
}
/*ask tutor about this*/
section wrapper {
  padding: top30px left20px;
}
/*ask tutor about this*/
header {
  padding: 20px top0px;
  color: gray;
}

header::after {
  content: " ";
  height: 2px;
}

.card {
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-body {
  min-height: 100px;
}

.card button {
  background-color:rgb(5, 103, 214);
  border-radius: 25px;
  box-shadow: 
    rgba(0, 0, 0, 0.1) 0px 1px 6px 0px 
    rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: #fff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 20px;
  padding: 14px 34px;
}

.card button::before {
  content: " ";
  background: #fff;
  height: 2px;
}

.card button::after {
  content: " ";
  clear: both;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /*fix this*/
  padding: top15px left15px right15px bottom85px;
  font-size: 1.2rem;

  /*fix this*/
  margin: 0 10px;
  border: 2px dashed #fff;
  border-radius: 6px;
  overflow: hidden;
}

@media (max-width: 690px) {
  .card button {
    font-size: 1rem;
    margin: 16px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .card button {
    font-size: 0.8rem;
  }
}